<div id="frame">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>سامانه سفارش غذا</mat-card-title>
      <mat-card-subtitle>استار فوود</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../assets/images/fast-food.jpg" />
    <div >
      <mat-radio-group [(ngModel)]="restaurant">
        <mat-radio-button  value="owner">
          رستوران دار</mat-radio-button>
        <mat-radio-button  value="customer"
          >مشتری</mat-radio-button
        >
      </mat-radio-group>
    </div>
    <mat-card-content>
      <form class="login-form">
        <table class="login-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field *ngIf="restaurant =='owner'"   class="login-full-width">
                <mat-label>نام رستوران</mat-label>
                <input
            (keypress)="check2($event)"

                class="username"
                type="text"
                matInput
                [formControl]="restaurantName"
                placeholder="نام رستوران"
                />
                <mat-error *ngIf="restaurantName.hasError('required')">
                  نام رستوران الزامیست
                </mat-error>
                <mat-error *ngIf="restaurantName.hasError('minlength')">
                  نام رستوران باید بیشتر از 5 حرف باشد
                </mat-error>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field *ngIf="restaurant =='owner'" class="login-full-width">
                <mat-label>آدرس رستوران</mat-label>
                <input
            (keypress)="check2($event)"
                class="username"
                type="text"
                matInput
                [formControl]="restaurantAddress"
                placeholder="آدرس رستوران"
                />
                <mat-error *ngIf="restaurantAddress.hasError('required')">
                  آدرس رستوران الزامیست
                </mat-error>
                <mat-error *ngIf="restaurantAddress.hasError('minlength')">
                  آدرس رستوران باید بیشتر از 10 حرف باشد
                </mat-error>
              </mat-form-field>
            </td>
          </tr>
        </table>


        <table class="login-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field *ngIf="restaurant =='owner' || restaurant =='customer'"  class="login-full-width">
                <mat-label>شماره همراه</mat-label>
                <input
                (keypress)="check($event)"
                class="username"
                type="text"
                matInput
                [formControl]="phoneNumber"
                placeholder="091xxxxxxxx"
                max="11"
                />
                <mat-error *ngIf="phoneNumber.hasError('required')">
                   شماره همراه الزامیست
                </mat-error>
                <mat-error *ngIf="phoneNumber.hasError('minlength')">
                   شماره همراه باید حداقل 11 حرف باشد
                </mat-error>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field *ngIf="restaurant =='owner' || restaurant =='customer'"  class="login-full-width">
                <mat-label>استان</mat-label>
                <mat-select [formControl]="city" required>
                  <mat-option value="option1">همدان</mat-option>
                  <mat-option value="option2">تهران</mat-option>
                  <mat-option value="option3">کرمانشاه</mat-option>
                </mat-select>
                <mat-error *ngIf="city.hasError('required')">
                  انتخاب استان الزامیست
                </mat-error>
              </mat-form-field>
            </td>
          </tr>
        </table>
        <table class="login-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field *ngIf="restaurant =='owner' || restaurant =='customer'" class="login-full-width">
                <mat-label>رمز عبور</mat-label>
                <input
                  matInput
                  class="username"
                  type="password"
                  matInput
                  [formControl]="password"
                  placeholder="کلمه عبور"
                />
                <mat-error *ngIf="password.hasError('required')">
                  کلمه عبور الزامیست
                </mat-error>
                <mat-error *ngIf="password.hasError('minlength')">
                  رمز عبور باید حداقل 8 حرف باشد
                </mat-error>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field *ngIf="restaurant =='owner' || restaurant =='customer'" class="login-full-width">
                <mat-label>تکرار رمز عبور</mat-label>
                <input
                  matInput
                  class="username"
                  type="password"
                  matInput
                  [formControl]="repeatPassword"
                  placeholder="تکرار کلمه عبور"
                />
              </mat-form-field>
            </td>
          </tr>
        </table>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button
        [disabled]="
        phoneNumber.invalid ||
          password.invalid ||
          repeatPassword.invalid ||
          city.invalid ||
          (restaurant && restaurantAddress.invalid) ||
          (restaurant && restaurantName.invalid)
        "
        (click)="create()"
        mat-raised-button
        color="primary"
      >
        ثبت نام
      </button>
      <button class="colorOfButton" (click)="return()"  mat-raised-button>بازگشت</button>
    </mat-card-actions>
  </mat-card>
</div>
