<body>
  <img class="back" src="./assets/images/background.jpg" alt="" />
  <div id="frame">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>ثبت نام سامانه سفارش غذا</mat-card-title>
        <mat-card-subtitle>استار فوود</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../../assets/images/fast-food.jpg" />
      <mat-card-content>
        <form [formGroup]="register">
          <mat-radio-group formControlName="type">
            <mat-radio-button value="1"> رستوران دار</mat-radio-button>
            <mat-radio-button value="2">مشتری</mat-radio-button>
          </mat-radio-group>
          <table class="login-full-width" cellspacing="0">
            <tr>
              <td>
                <mat-form-field class="login-full-width">
                  <mat-label>شماره همراه</mat-label>
                  <input
                    (keypress)="checkPhoneNumber($event)"
                    class="username"
                    type="text"
                    matInput
                    formControlName="username"
                    placeholder="091xxxxxxxx"
                    maxlength="11"
                  />
                  <mat-error
                    *ngIf="register.controls.username.hasError('required')"
                  >
                    شماره همراه الزامیست
                  </mat-error>
                  <mat-error
                    *ngIf="register.controls.username.hasError('minlength')"
                  >
                    شماره همراه باید حداقل 11 حرف باشد
                  </mat-error>
                  <mat-error
                    *ngIf="register.controls.username.hasError('pattern')"
                  >
                    لطفا شماره همراه معتبر وارد کنید
                  </mat-error>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="login-full-width">
                  <mat-label>استان</mat-label>
                  <mat-select formControlName="city" required>
                    <mat-option value="همدان">همدان</mat-option>
                    <mat-option value="تهران">تهران</mat-option>
                    <mat-option value="کرمانشاه">کرمانشاه</mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="register.controls.city.hasError('required')"
                  >
                    انتخاب استان الزامیست
                  </mat-error>
                </mat-form-field>
              </td>
            </tr>
          </table>
          <table class="login-full-width" cellspacing="0">
            <tr>
              <td>
                <mat-form-field class="login-full-width">
                  <mat-label>نام کامل</mat-label>
                  <input
                    (keypress)="checkFullname($event)"
                    matInput
                    class="username"
                    type="text"
                    matInput
                    formControlName="fullname"
                    placeholder="نام کامل"
                  />
                  <mat-error
                    *ngIf="register.controls.fullname.hasError('required')"
                  >
                    نام کامل الزامیست
                  </mat-error>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="login-full-width">
                  <mat-label>پست الکترونیک</mat-label>
                  <input
                    matInput
                    class="username"
                    type="email"
                    formControlName="email"
                    matInput
                    placeholder="ali@test.com"
                  />
                  <mat-error
                    *ngIf="register.controls.email.hasError('required')"
                  >
                    پست الکترونیک <strong>الزامیست</strong>
                  </mat-error>
                  <mat-error *ngIf="register.controls.email.hasError('email')">
                    پست الکترونیک <strong>اشتباه</strong> است
                  </mat-error>
                </mat-form-field>
              </td>
            </tr>
          </table>
        </form>
        <form [formGroup]="passwordForm" novalidate>
          <table class="login-full-width" cellspacing="0">
            <tr>
              <td>
                <mat-form-field class="login-full-width">
                  <mat-label>کلمه عبور</mat-label>
                  <input
                    class="username"
                    type="password"
                    matInput
                    formControlName="password"
                    placeholder="رمز محرمانه"
                  />
                  <mat-error
                    *ngIf="passwordForm.controls.password.hasError('required')"
                  >
                    کلمه عبور الزامیست
                  </mat-error>
                  <mat-error
                    *ngIf="passwordForm.controls.password.hasError('minlength')"
                  >
                    کلمه عبور باید حداقل 8 حرف باشد
                  </mat-error>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="login-full-width">
                  <mat-label>تکرار رمز عبور</mat-label>
                  <input
                    formControlName="confirmPassword"
                    matInput
                    class="username"
                    type="password"
                    matInput
                    placeholder="تکرار کلمه عبور"
                  />
                  <mat-error
                    *ngIf="
                      passwordForm.controls.confirmPassword.hasError('required')
                    "
                  >
                    تکرار کلمه عبور الزامیست
                  </mat-error>

                  <mat-error
                    *ngIf="passwordForm.errors?.['passwordMatchErorrs']"
                  >
                    تکرار کلمه عبور اشتباه است
                  </mat-error>

                  <!-- <div class="passwordCheck" style="color: red;" *ngIf="passwordForm.errors?.['passwordMatchErorrs']"> تکرار کلمه عبور اشتباه است</div> -->
                </mat-form-field>
              </td>
            </tr>
          </table>
        </form>
        <div *ngIf="message" class="serverError">
          {{ message }}
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button
          (click)="create()"
          mat-raised-button
          color="primary"
          [disabled]="
            register.controls.username.invalid ||
            passwordForm.invalid ||
            register.controls.city.invalid ||
            register.controls.type.invalid
          "
        >
          ثبت نام
        </button>
        <button class="colorOfButton" (click)="returnTo()" mat-raised-button>
          بازگشت
        </button>
      </mat-card-actions>
      <div *ngIf="isBusy == true">
        <mat-progress-bar mode="query"></mat-progress-bar>
      </div>
    </mat-card>
  </div>
</body>
