html,
body {
    min-height: 100vh;
}

body {
    margin: 0;
}

@font-face {
    font-family: Persian;
    src: url(./assets/fonts/Sans.woff2);
}
mat-card-title,mat-card-subtitle{
    font-family: persian !important;
}

*{
    font-family: persian !important;
}

